<div class="d-flex flex-column h-100 page-footer">

    <!-- FOR DEMO PURPOSE -->
    <section class="hero text-white py-5 flex-grow-1" style="background-image: url(../../../../assets/images/shrek.jfif);background-size:cover;background-repeat: no-repeat;">
        <div class="container py-4">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="display-4 text-center" style="font-family: 'Roboto';">Te entregamos nuestro servicio funerario las 24 horas todos los días del año, gestionado con los más altos estándares de calidad, puntualidad y responsabilidad</h2>
                </div>
            </div>
        </div>
    </section>


    <!-- FOOTER -->
    <footer class="w-100 py-4 flex-shrink-0">
        <div class="container py-4">
            <div class="row gy-4 gx-5">
                <div class="col-lg-5 col-md-5">
                    <h5 class="h1 text-white" style="font-family: 'Roboto';">Funeraria Camino de Luz</h5>
                    <p class="small text-muted">Los Espinos 2963, Macul, Santiago de Chile.</p>
                    <p class="small text-muted mb-0">&copy; Copyrights. All rights reserved | Designed by <a class="text-primary" href="#">Drewdev.com</a></p>
                </div>
                <div class="col-lg-4 col-md-6">
                    <h5 class="text-white mb-3">Contáctanos</h5>
                    <p class="small text-muted">Mediante <a style="color:white" href="https://wa.me/+56954633921/?text=Hola, estoy interesad@ en sus servicios funerarios" target="_blank" class="ww-text">Whatsapp</a> o <a href="tel:+56993463969"style="color:white">llamando</a> al <a href="tel:+56993463969"style="color:white">+569 93463969</a> </p>
                    <p class="text-white small" (click)="copyClickBoard()" style="cursor:pointer">funerariascaminodeluz@gmail.com <label class="small text-muted">clickea sobre el correo electrónico para copiarlo</label></p>
                    
                </div>
            </div>
        </div>
    </footer>
</div>