.navbars {
    @media (max-width: 1000px){
        display:none;
    }
}
.contacts {
    @media (max-width: 1000px){
        display:none;
    }
}
.navbar-collapse {
    @media (max-width: 500px){
        margin-left:42%;
    }
}
#navbarText {
    a {
        color: white;
    }
}