<nav class="navbar navbar-expand-lg navbar-light " style="background-color: #5F9EA0;padding: 1rem; position: fixed; width: 100%;z-index: 9999; background-image: url(../../../../assets/images/header2.jpg);background-repeat: no-repeat;background-size: cover;">
    <a class="navbar-brand text-white" href="#" style="margin-left:4rem;font-family: 'Roboto';"> <img src="../../../../assets/images/fondoblanco_transparente.png" style="width: 200px;"></a>
    <div class="navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto navbars">
        <li class="nav-item active">
          <a class="nav-link" href="#">Sobre Nosotros </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Servicios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Beneficios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Ubicación</a>
        </li>
      </ul>
      <span class="text-white" style="margin-left: auto;margin-right: -10rem;">
        <a href="tel:+56993463969">
          <button class="btn btn-dark"><img src="../../../../assets/images/telefono.png" style="width: 18px; margin-bottom: 3px;margin-right:3px;border-radius:8px;">Llamar</button>
        </a>
        <a href="https://wa.me/+56954633921/?text=Hola, estoy interesad@ en sus servicios funerarios" target="_blank">
          <button class="btn btn-success" style="margin-left: 30px;background-color:#389D38;border-color:#389D38"><img src="../../../../assets/images/wsp.png" style="width: 22px; margin-bottom: 2px;"> Whatsapp</button>
        </a>
      </span>
      <span class="text-white contacts" style="margin-left: auto;margin-right: 4rem;">
        Contacto: 
        <label class=>+569 93463969</label>
        <p>funerariascaminodeluz@gmail.com</p>
      </span>
    </div>
  </nav>