.navbars {
    @media (max-width: 1000px){
        display:none;
    }
}
.contacts {
    @media (max-width: 1000px){
        display:none;
    }
}
.navbar-collapse {
    @media (max-width: 1000px){
        margin-left:53%;
    }
}